<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>396742496948-g58mdrjeja8tr3eo7873noa1rd717kir.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.396742496948-g58mdrjeja8tr3eo7873noa1rd717kir</string>
	<key>API_KEY</key>
	<string>AIzaSyD60JwV8G_5Hg6ABRdeOq-NKkA8x7-tdlQ</string>
	<key>GCM_SENDER_ID</key>
	<string>396742496948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fChatTemplate</string>
	<key>PROJECT_ID</key>
	<string>chatreto3mt</string>
	<key>STORAGE_BUCKET</key>
	<string>chatreto3mt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:396742496948:ios:af7d70dfdfdeb5a0cebde1</string>
	<key>DATABASE_URL</key>
	<string>https://chatreto3mt-default-rtdb.firebaseio.com</string>
</dict>
</plist>